<div>
  <h1
    class="animate-fade-up animate-delay-500 animate-duration-200 font-fira mb-12 text-7xl text-center">
    Proyectos
  </h1>
  @for (item of proyectos; track item.id) {
    <div
      class="flex p-3 mb-12 items-center rounded-lg md:max-w-x shadow-md"
      [ngClass]="{
        'flex-column md:flex-row-reverse animate-fade-left': item.id % 2 === 0,
        'flex-row animate-fade-right': item.id % 2 != 0,
      }">
      <img class="object-cover rounded-lg" [src]="item.image" alt="" height="300" width="400" />
      <div class="flex flex-col justify-center text-center p-4 leading-normal h-[300px]">
        <h3 class="font-fira text-4xl xl:text-5xl mb-auto">{{ item.titulo }}</h3>
        <p
          class="font-fira mb-auto px-3 py-4 xl:px-6 xl:py-3 text-xl xl:text-2xl font-normal text-gray-700 dark:text-gray-600">
          {{ item.descripcion }}
        </p>
        <div class="flex justify-evenly items-center text-green mt-auto">
          @for (button of item.buttons; track $index) {
            <a
              [href]="button.link"
              target="_blank"
              class="flex justify-center items-center text-center px-2 py-1 xl:p-2 animate-fade text-xl xl:text-2xl rounded-lg border-2 hover:shadow-sm hover:bg-slate-100">
              {{ button.text
              }}<ng-icon [name]="button.icon" class="ml-2" size="33" color="black"></ng-icon>
            </a>
          }
        </div>
      </div>
    </div>
  }
</div>
