<div>
  <h1 class="font-fira text-6xl text-center">Projects</h1>
  <p>Here are some of the projects I have worked on.</p>
  <div class="flex flex-col items-center rounded-lg md:flex-row md:max-w-x">
    <img
      class="object-cover rounded-lg"
      src="/images/linke-ar.jpg"
      alt=""
      height="400"
      width="533" />
    <div class="flex flex-col justify-center items-start p-4 leading-normal h-[400px]">
      <h3 class="mb-auto">Noteworthy technology acquisitions 2021</h3>
      <p class="mb-auto font-normal text-gray-700 dark:text-gray-400">
        Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse
        chronological order.
      </p>
    </div>
  </div>
</div>
