/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: 'Fira', sans-serif;
  font-weight: 500;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
body {
  background: radial-gradient(circle, #e8e8e8 11%, transparent 15%);
  background-color: #0000;
  background-size: auto;
  background-size: 1em 1em;
  background-color: #fff;
  opacity: 1;
}

.button:hover {
  background-color: #e2e8f0;
}
.button:hover .icon {
  background-color: #e2e8f0;
  color: #1f2937;
}
